{ lib, ... }:
with lib;
{
  options.secrets = {
    sshKeys = mkOption {
      type = types.listOf types.singleLineStr;
      default = [ "" ];
      description = "List of SSH public keys to add for SSH access.";
    };
  };
}